<launch>
    <!--argments-->
    <arg name="model" default="$(find LidarRobot1_description)/urdf/LidarRobot1.urdf" />
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find LidarRobot1_description)/rviz/urdf.rviz" />

    <!--parameters-->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_gui" value="$(arg gui)" />

    <!--nodes-->
    <!--if joints with types except for fixed is existing, turn on joint_state_publisher_gui. if it is not, turn on just joint_state_publisher.-->
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>